@import 'reset';
@import 'variables';

.t-light {
  background-color: $light;
}

.t-dark {
  background-color: $dark;
}

#root {
  width: 100%;
  height: 100%;
}

#logo {
  width: 70px;
  height: 70px;
  margin: 5px 0 0 5px;
  background-image: url('./assets/images/beat-bite-logo.svg');
}

%sideBar {
  height: 100%;
  width: 80px;
  position: absolute;
}

#sideBar {
  @extend %sideBar;
  background-color: $dark;
  z-index: 999;
}
#shadowSideBar {
  @extend %sideBar;
  z-index: -1;
  box-shadow: 0px 0px 10px;
}

#topBar {
  height: 80px;
  width: 100%;
  position: absolute;
  background-color: $dark;
  text-align: center;
  font-size: 24pt;
  font-family: $font-ubuntu;
  box-shadow: 0px 0px 10px;
  h1 {
    color: $light;
    text-shadow: 0 0 10px black;
    margin: 0 auto 0 auto;
    line-height: 80px;
    transition: 0.7s;
  }
  h1:hover {
    text-shadow: 0 0 10px $light;
    transform: scale(1.05);
  }
}

#controlBar {
  height: 80px;
  width: 100%;
  position: absolute;
  bottom: 0px;
  background-color: $dark;
  box-shadow: 0px 0px 10px;
}

#mainContainer {
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: $darkest;
  z-index: -999;
}
