/* Font families - Press Start 2P & Roboto */
@import url('https://fonts.googleapis.com/css?family=Press+Start+2P|Roboto:400,700');
$font-display: 'Press Start 2P', sans-serif;
$font-main: 'Roboto', sans-serif;

/* Palette - https://coolors.co/141416-222226-c62f37-e3e7e8-dbdfe0 */
$darkest: rgba(20, 20, 22, 1);
$dark: rgba(34, 34, 38, 1);
$highlight-red: rgba(198, 47, 55, 1);
$highlight-blue: rgba(47, 115, 198, 1);
$lightest: rgba(227, 231, 232, 1);
$light: rgba(219, 223, 224, 1);
